@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

.navbar-default {
  background-color: #EFEFEF;
  li {
    a#zny-btc#zny-jpy {
     color: black;
    }
  }
}


.col-lg-4.col-md-4.col-sd-4 {
  height: 300px;
  .h2 {
    color: dodgerblue;
  }
  .converter-form {
    margin: 0 10px;
  }
  .generate-button {
    margin-left: 10px;
    width: 80px;
    margin-top: 10px;
    background-color: dodgerblue;
    color: white;
  }
}

label {
  margin: 0 10px;
}